# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Seaborn
3. Plotly

| Data Science Tools |
| -------------------|
| Jupyter Notebooks |
| RStudio | 
| Watson Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [20]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List Data Science tools

## Author
Olivia