<center>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/SN_web_lightmode.png" width="300"> 
</center>

# Assignment: Exploratory Data Analysis with SQL
Estimated time needed: 60 minutes


# Introduction
Using this R notebook you will perform exploratory data analysis using SQL queries with the RSQLite R package. You will be graded on the accuracy of your results as well as the content of your SQL queries.

### Establish your SQL Lite connection

#### Install RSQLite package
The RSQlite  package needs to be installed in your notebook. Let’s load the RSQLite package by clicking on the following cell and executing it (Shift+Enter):

In [2]:
install.packages("RSQLite")

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

#### Restart Kernel

After installing the RSQLite package, it is necessary to restart R Kernel. Click **Kernel** > **Restart Kernel** from the main menu. This will register the newly installed packages. Now proceed to load the RSQLite package.

#### Load RSQLite
Load the 'RSQLite' library, and use the 'dbConnect( )' function as you did in the previous labs to establish the connection to your SQLite database.  
You are now ready to start running SQL queries using the RSQLite library as you did in Course 3.

In [10]:
library("RSQLite")
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [5]:
# Create a connection to the SQLite database (replace 'your_database.sqlite' with your database filename)
con <- dbConnect(RSQLite::SQLite(), "your_database.sqlite")

# Check if the connection is successful
if (inherits(con, "SQLiteConnection")) {
  cat("Connection to the database was successful!")
} else {
  cat("Failed to connect to the database.")
}

Connection to the database was successful!

Download the following csv files:

*   [WORLD_CITIES](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv)

*   [BIKE_SHARING_SYSTEMS](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv)

*   [CITIES_WEATHER_FORECAST](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv)

*   [SEOUL_BIKE_SHARING](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv)

and load the csv's  into 4 tables as mentioned below
* SEOUL_BIKE_SHARING

* CITIES_WEATHER_FORECAST

* BIKE_SHARING_SYSTEMS 

*  WORLD_CITIES

> Hint : Use the read_csv() function and dbWriteTable() functions

In [11]:
# Download the CSV files
download.file("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_worldcities.csv", "raw_worldcities.csv")
download.file("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_bike_sharing_systems.csv", "raw_bike_sharing_systems.csv")
download.file("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_cities_weather_forecast.csv", "raw_cities_weather_forecast.csv")
download.file("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_seoul_bike_sharing.csv", "raw_seoul_bike_sharing.csv")

# Load the CSV files into R
world_cities_df <- read_csv("raw_worldcities.csv")
bike_sharing_systems_df <- read_csv("raw_bike_sharing_systems.csv")
cities_weather_forecast_df <- read_csv("raw_cities_weather_forecast.csv")
seoul_bike_sharing_df <- read_csv("raw_seoul_bike_sharing.csv")

# Write the data frames into the SQLite database as tables
# Write the data frames into the SQLite database as tables
dbWriteTable(con, "WORLD_CITIES", world_cities_df, overwrite = TRUE)
dbWriteTable(con, "BIKE_SHARING_SYSTEMS", bike_sharing_systems_df, overwrite = TRUE)
dbWriteTable(con, "CITIES_WEATHER_FORECAST", cities_weather_forecast_df, overwrite = TRUE)
dbWriteTable(con, "SEOUL_BIKE_SHARING", seoul_bike_sharing_df, overwrite = TRUE)

Rows: 26569 Columns: 11
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (7): City, CITY_ASCII, COUNTRY, ISO2, ISO3, ADMIN_NAME, CAPITAL
dbl (4): LAT, LNG, POPULATION, ID

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 480 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (10): COUNTRY, City, Name, SYSTEM, OPERATOR, LAUNCHED, DISCONTINUED, STA...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 160 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): city, weather, season
dbl  (8): visibility, temp, temp_min, temp_max, pressure, humidity, wind_spe...
dttm (1): forecast_datetime

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 8760 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (4): Date, SEASONS, HOLIDAY, FUNCTIONING_DAY
dbl (10): RENTED_BIKE_COUNT, Hour, TEMPERATURE, HUMIDITY, WIND_SPEED, Visibi...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.


## Task 1 - Record Count
#### Determine how many records are in the seoul_bike_sharing dataset.

### Solution 1

In [12]:
# provide your solution here
query <- "SELECT COUNT (*) FROM seoul_bike_sharing"
seoul_bike_sharing_record_count <- dbGetQuery(con, query)
print(seoul_bike_sharing_record_count)

  COUNT (*)
1      8760

## Task 2 - Operational Hours
#### Determine how many hours had non-zero rented bike count.

### Solution 2

In [26]:
# provide your solution here
query <- "SELECT SUM(HOUR) AS seoul_bike_sharing_non_zero_hours 
FROM seoul_bike_sharing WHERE RENTED_BIKE_COUNT >=1"
seoul_bike_sharing_non_zero_hours <- dbGetQuery(con, query)
print(seoul_bike_sharing_non_zero_hours)

  seoul_bike_sharing_non_zero_hours
1                             97407

## Task 3 - Weather Outlook
#### Query the the weather forecast for Seoul over the next 3 hours.
Recall that the records in the CITIES_WEATHER_FORECAST dataset are 3 hours apart, so we just need the first record from the query.

### Solution 3

In [17]:
# provide your solution here
query <- "SELECT WEATHER FROM CITIES_WEATHER_FORECAST limit 1"
CITIES_WEATHER_FORECAST_next3hours <- dbGetQuery(con, query)
print(CITIES_WEATHER_FORECAST_next3hours)

  weather
1   Clear

## Task 4 - Seasons
#### Find which seasons are included in the seoul bike sharing dataset.

### Solution 4

In [21]:
# provide your solution here
query <- "SELECT SEASONS FROM seoul_bike_sharing GROUP BY SEASONS"
seoul_bike_sharing_SEASONS <- dbGetQuery(con, query)
print(seoul_bike_sharing_SEASONS)

  SEASONS
1  Autumn
2  Spring
3  Summer
4  Winter

## Task 5 - Date Range
#### Find the first and last dates in the Seoul Bike Sharing dataset.

### Solution 5

In [24]:
# provide your solution here
query <- "SELECT MIN(DATE) as LAST_DATE, MAX(DATE) as FIRST_DATE
FROM seoul_bike_sharing"
MIN_MAX_DATES <- dbGetQuery(con, query)
print(MIN_MAX_DATES)

   LAST_DATE FIRST_DATE
1 01/01/2018 31/12/2017

## Task 6 - Subquery - 'all-time high'
#### determine which date and hour had the most bike rentals.

### Solution 6

In [28]:
# provide your solution here
query <- "SELECT DATE, HOUR, RENTED_BIKE_COUNT FROM SEOUL_BIKE_SHARING 
WHERE RENTED_BIKE_COUNT = (SELECT MAX(RENTED_BIKE_COUNT) 
FROM SEOUL_BIKE_SHARING)"
all_time_high <- dbGetQuery(con, query)
print(all_time_high)

        Date Hour RENTED_BIKE_COUNT
1 19/06/2018   18              3556

## Task 7 - Hourly popularity and temperature by season
#### Determine the average hourly temperature and the average number of bike rentals per hour over each season. List the top ten results by average bike count.

### Solution 7

In [36]:
# provide your solution here
query <- "SELECT AVG(TEMPERATURE), AVG(RENTED_BIKE_COUNT), HOUR, SEASONS
FROM seoul_bike_sharing GROUP BY HOUR ORDER BY RENTED_BIKE_COUNT DESC LIMIT 10"
temp_rentals_byseason = dbGetQuery(con, query)
print(temp_rentals_byseason)

   AVG(TEMPERATURE) AVG(RENTED_BIKE_COUNT) Hour SEASONS
1         10.176932              1050.2295    8  Winter
2         15.272473              1554.0170   18  Winter
3         14.249286              1235.7762   19  Winter
4         16.203251              1177.2125   17  Winter
5         11.336813               667.9433    9  Winter
6         16.896384               962.2578   16  Winter
7         17.036164               857.3739   15  Winter
8          9.581041               626.6062    7  Winter
9         16.229945               758.1728   13  Winter
10        15.462192               723.2181   12  Winter

## Task 8 - Rental Seasonality
#### Find the average hourly bike count during each season. 
Also include the minimum, maximum, and standard deviation of the hourly bike count for each season. 

> Hint : Use the SQRT(AVG(col*col) - AVG(col)*AVG(col) ) function where col refers to your column name for finding the standard deviation

### Solution 8

In [41]:
# provide your solution here
query <- "
SELECT 
  SEASONS,
  AVG(RENTED_BIKE_COUNT) AS AVG_BIKE_COUNT,
  MIN(RENTED_BIKE_COUNT) AS MIN_BIKE_COUNT,
  MAX(RENTED_BIKE_COUNT) AS MAX_BIKE_COUNT,
  SQRT(AVG(RENTED_BIKE_COUNT * RENTED_BIKE_COUNT) - 
       AVG(RENTED_BIKE_COUNT) * AVG(RENTED_BIKE_COUNT)) AS SD_BIKE_COUNT
FROM SEOUL_BIKE_SHARING
GROUP BY SEASONS
"
avg_bike_count_byseason <- dbGetQuery(con, query)
print(avg_bike_count_byseason)

  SEASONS AVG_BIKE_COUNT MIN_BIKE_COUNT MAX_BIKE_COUNT SD_BIKE_COUNT
1  Autumn       924.1105              2           3298      617.3885
2  Spring       746.2542              2           3251      618.5247
3  Summer      1034.0734              9           3556      690.0884
4  Winter       225.5412              3            937      150.3374

Let's explore a bit and see what might be the most significant contributing factors in terms of the provided data.

## Task 9 - Weather Seasonality
#### Consider the weather over each season. On average, what were the TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBILITY, DEW_POINT_TEMPERATURE, SOLAR_RADIATION, RAINFALL, and SNOWFALL per season?
Include the average bike count as well , and rank the results by average bike count so you can see if it is correlated with the weather at all.

### Solution 9

In [50]:
# provide your solution here
query <- "
SELECT 
  SEASONS,
  AVG(TEMPERATURE) AS AVG_TEMP, 
  AVG(HUMIDITY) AS AVG_HUMIDITY, 
  AVG(WIND_SPEED) AS AVG_WIND, 
  AVG(VISIBILITY) AS AVG_VISIBILITY, 
  AVG(DEW_POINT_TEMPERATURE) AS AVG_DEW_POINT, 
  AVG(SOLAR_RADIATION) AS AVG_SOLAR, 
  AVG(RAINFALL) AS AVG_RAIN, 
  AVG(SNOWFALL) AS AVG_SNOW, 
  AVG(RENTED_BIKE_COUNT) AS AVG_RENTALS
FROM SEOUL_BIKE_SHARING
GROUP BY SEASONS
ORDER BY AVG_RENTALS ASC
"
avg_conditions_byseason <- dbGetQuery(con, query)
print(avg_conditions_byseason)

  SEASONS  AVG_TEMP AVG_HUMIDITY AVG_WIND AVG_VISIBILITY AVG_DEW_POINT
1  Winter -2.540463     49.74491 1.922685       1445.987    -12.416667
2  Spring 13.046612     58.77672 1.874592       1240.365      4.120063
3  Autumn 14.120733     59.22848 1.494734       1560.752      5.498718
4  Summer 26.587711     64.98143 1.609420       1501.745     18.750136
  AVG_SOLAR   AVG_RAIN   AVG_SNOW AVG_RENTALS
1 0.2981806 0.03282407 0.24750000    225.5412
2 0.6887862 0.18288043 0.00000000    746.2542
3 0.5218178 0.12275641 0.05631868    924.1105
4 0.7612545 0.25348732 0.00000000   1034.0734

## Task 10 - Total Bike Count and City Info for Seoul
#### Use an implicit join across the WORLD_CITIES and the BIKE_SHARING_SYSTEMS tables to determine the total number of bikes avaialble in Seoul, plus the following city information about Seoul: CITY, COUNTRY, LAT, LON, POPULATION, in a single view.
Notice that in this case, the CITY column will work for the WORLD_CITIES table, but in general you would have to use the CITY_ASCII column.

### Solution 10

In [62]:
# provide your solution here
query <- "
SELECT 
  wc.CITY, 
  wc.COUNTRY, 
  wc.LAT, 
  wc.LNG, 
  wc.POPULATION, 
  SUM(bss.BICYCLES) AS TOTAL_BIKES
FROM 
  WORLD_CITIES wc, 
  BIKE_SHARING_SYSTEMS bss
WHERE 
  wc.CITY LIKE 'Seoul%' 
  AND bss.CITY LIKE 'Seoul%' 
GROUP BY 
  wc.CITY, wc.COUNTRY, wc.LAT, wc.LNG, wc.POPULATION
"
seoul_bike_info <- dbGetQuery(con, query)
print(seoul_bike_info)

   City      COUNTRY     LAT LNG POPULATION TOTAL_BIKES
1 Seoul Korea, South 37.5833 127   21794000       20000

## Task 11 - Find all city names and coordinates with comparable bike scale to Seoul's bike sharing system
#### Find all cities with total bike counts between 15000 and 20000. Return the city and country names, plus the coordinates (LAT, LNG), population, and number of bicycles for each city.
Later we will ask you to visualize these similar cities on leaflet, with some weather data.

### Solution 11

In [71]:
# provide your solution here
query <- "
SELECT 
  wc.CITY, 
  wc.COUNTRY, 
  wc.LAT, 
  wc.LNG, 
  wc.POPULATION, 
  SUM(bss.BICYCLES) AS TOTAL_BIKES
FROM 
  WORLD_CITIES wc
JOIN 
  BIKE_SHARING_SYSTEMS bss ON wc.CITY = bss.CITY AND wc.COUNTRY = bss.COUNTRY
GROUP BY 
  wc.CITY, wc.COUNTRY, wc.LAT, wc.LNG, wc.POPULATION
HAVING 
  SUM(bss.BICYCLES) BETWEEN 15000 AND 20000;"
bike_count <- dbGetQuery(con, query)
print(bike_count)

     City COUNTRY     LAT      LNG POPULATION TOTAL_BIKES
1 Beijing   China 39.9050 116.3914   19433000       16000
2   Milan   Italy 45.4669   9.1900    1351562       17000
3  Ningbo   China 29.8750 121.5492    7639000       15000
4 Weifang   China 36.7167 119.1000    9373000       20000
5 Zhuzhou   China 27.8407 113.1469    3855609       20000

In [75]:
dbDisconnect(con)

## Author(s)

<h4> Jeff Grossman </h4>
<h4> Lakshmi Holla </h4>


## Other Contributor(s)

<h4>  Malika Singla </h4>

<!--## Change log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2022-03-03        | 1.0     |Lakshmi Holla  | Created lab using sqlite3          |-->

## <h3 align="center"> © IBM Corporation 2022. All rights reserved. <h3/>